.carousel-container {
    width: 80%; /* Tamaño fijo del carrusel */
    height: 500px; /* Tamaño fijo del carrusel */
    overflow: hidden; /* Para ocultar el desbordamiento */
     text-align: center;
  }

.carousel-inner {
    width: 100%;
    height: 100%;
    }

.carousel-item {
    width: 100%;
    height: 100%;
    text-align: center; /* Para centrar la imagen horizontalmente */
    }

.carousel-item img {
    max-width: 100%; /* La imagen se ajustará al ancho del carrusel */
    max-height: 100%; /* La imagen se ajustará al alto del carrusel */
    margin: auto; /* Centrar verticalmente */
    }

.moverennavbaraladerecha{
    margin-left: 30px;
}

.moverennavbaralaizquierda{
    margin-right: 30px;
}

.marginsss{
    margin:auto;
}

.nav-item{
    color: black !important;
}


.nav-item :hover{
    color:gray !important;

}
/* Fuente Natbar */
.asap-condensed-regular-italic {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .asap-condensed-medium-italic {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 22px;
  }
  